<div class="viewBox">
 <div class="loginCard">
    <span id="btnAluno" class="selecionada">Aluno</span>
    <span id="btnProfessor">Professor</span>
    <div id="aluno">
        <%= render partial: "/public/form_aluno" %>
    </div>
    <div id="professor">
        <%= render partial: "/public/form_professor" %>
    </div>
 </div>
</div>

<script>   
    const btnAluno = document.querySelector("#btnAluno")
    const btnProfessor = document.querySelector("#btnProfessor")
    const aluno = document.querySelector("#aluno")
    const professor = document.querySelector("#professor")
    btnAluno.addEventListener("click",()=>{
        if (!(btnAluno.classList[0] == "selecionada")){
            aluno.style.display = "flex"
            btnAluno.classList.toggle("selecionada")
            professor.style.display = "none"
            btnProfessor.classList.toggle("selecionada")
        }
    })
    btnProfessor.addEventListener("click",()=>{
        if  (!(btnProfessor.classList[0] == "selecionada")){
            aluno.style.display = "none"
            btnAluno.classList.toggle("selecionada")
            professor.style.display = "flex"
            btnProfessor.classList.toggle("selecionada")
        }
        
    })
</script>