<div class="viewBox">
    <div class="loginCard">
        <h1>Tela de Login</h1>
        <forms>
            <label>User:</label>
            <input type="text">
            <label>Password:</label>
            <input type="password">
        </forms>
    </div>
</div>