<%= render partial: '/public/nav_bar'%>
<h1>Bem Vindo, <%=Current.usuario.nome%></h1>
<h3><%= Current.usuario.userable_type%></h3>

<% if Current.usuario.userable_type == "Professor"%>
<%= link_to "Cadastrar Atividades", atividade_cadastro_path %>
<%end%>