@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;;
}

body {
    display: flex; /* ou display: grid; */
    flex-direction: column;
    min-height: 100vh; /* 100% da altura da janela do navegador */
}

.viewBox {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.loginCard {
    border: 2px solid black;
    width: 300px;
    height: 400px;
}

#professor{
    display: none;
}

.selecionada{
    font-size: 27px;
    font-style: bold;
}

#btnAluno{
    cursor: pointer;
}
#btnProfessor{
    cursor: pointer;
}

.field_with_errors + br {
      display: none;
}

.nav-bar{
    z-index: 5;
    padding: 15px;
    display: flex;
    width: 100vw;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.nav-right{
    display: flex;
}

#cba{
    display: none
}