*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.viewBox {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.loginCard {
    border: 2px solid black;
    width: 300px;
    height: 400px;
}

#aluno{
    display: flex;
}
#professor{
    display: none;
}

.selecionada{
    font-size: 27px;
    font-style: bold;
}

#btnAluno{
    cursor: pointer;
}
#btnProfessor{
    cursor: pointer;
}

.field_with_errors + br {
      display: none;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100vw;
}

.footer-text {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-bar{
    padding: 15px;
    display: flex;
    width: 100vw;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.nav-right{
    display: flex;
}

#cba{
    display: none
}