<div class="nav-bar">
    <div class="nav-left">
        <%= link_to "HOME", root_path %>
    </div>
    <div class="nav-right">
        <%= link_to "Trocar senha", password_path %>
        <%= button_to "Logout", logout_path, method: :delete %>
    </div>  
</div>